@font-face {
  font-family:"Joti One";
  src:url("../fonts/Joti_One/JotiOne-Regular.ttf");
}

@font-face {
  font-family:"Architects Daughter";
  src: url("../fonts/Architects_Daughter/ArchitectsDaughter-Regular.ttf");
}
/*general*/
.page-title{
  display: inline-block;
}
.page-title h1{
    font-family: 'Joti One', cursive!important;
    font-size: 60px;
}

/*header*/
#logo{
  width:20%;
  vertical-align:middle;
  margin-right:40px;
  display:inline-block;
}

#logo img{
  width:100%;
  border-color:black;
  border-style: solid;
}

#header-title{
  width: 70%;
  font-size: 90px;
  font-family: 'Joti One', cursive!important;
  text-align: center;
  display:inline-block;
  vertical-align:middle;
}

#header{
  background-color: #e35833;
}

/*NAVIGATION*/


.navigation li{
  display: inline-block;
  list-style-type: none;
  padding-right: 20px;
  width: 15%;
  text-align: center;
  background-color: white;
  text-align:center;
  vertical-align:bottom;
  padding-top: 5px;
  border-color: black;
  border-style: solid;
  border-bottom-color: white;
}

.navigation a{
  font-family: 'Joti One', cursive!important;
  text-decoration: none;
  color:black;
}

.navigation a:hover{
  color:gray;
}

/*HOME*/
#home1{
  width: 80%;
  display: block;
  margin: auto;
  margin-top: 120px;
  margin-bottom:30px;
}

/*.shadow{
  box-shadow: 20px 20px 20px rgb(231, 215, 198);
  width:60%;
  margin:auto;
  margin-top:100px;
  margin-bottom: 50px;

}*/

#sushi-icon{
  padding: 30px;
  margin:auto;
  width:10%;
  border-bottom-color: black;
  border-bottom-style: double;
}

#home-sushi{
  width:80%;
  margin:auto;
}

#home2{
  width: 25%;
  display: inline-block;
  margin-right: 20px;
  margin-top:30px;
  border-color: rgb(231, 215, 198);
  border-style: solid;
}

#home-bio{
  width: 50%;
  display: inline-block;
  padding-top:30px;
  vertical-align: top;
}

#home-bio h1{
  font-family: 'Joti One', cursive!important;
  font-size:30px;
  color: #e35833;
}

#home-bio h2{
  font-family: 'Architects Daughter', cursive!important;
  font-size: 20px;

}

/*LOCATIONS*/


#north h2, #ctown h2{
  font-family: 'Architects Daughter', cursive!important;
  font-size: 20px;
  color: rgb(51, 130, 9);
  text-align: center;

}

#north, #ctown{
  width: 40%;
  display: inline-block;
  margin: 10px;
  /*background-color: rgb(231, 215, 198);*/
  border-color: #e35833;
  border-style: double;
  border-width: thick;
}

#northloc, #ctownloc{
  margin: auto;
  display: block;
  border-color:black;
  border-style:solid;
  width: 80%;
}

.sushi-icon-page{
  padding: 30px;
  margin:auto;
  width:10%;
  display: inline-block;
  vertical-align: bottom;
}


/*CONTACT*/

#contact-page h2, #submitted-page h2{
  font-family: 'Joti One', cursive!important;
  font-size:20px;
  color: rgb(51, 130, 9);
}

#contact-page h3, #submitted-page h3{
  font-family: 'Architects Daughter', cursive!important;
  font-size: 15px;
}

#contact-page a, #submitted-page a{
  text-decoration: none;
  color:black;
}

#contact-page a:hover, #submitted-page a:hover{
  color:gray;
}

#contact-page label,button{
  font-family: 'Architects Daughter', cursive!important;
  font-size: 15px;
  }

#form div, button{
  margin: 20px;
}

#form-div, #contact-info{
  width: 45%;
  display: inline-block;
  vertical-align: top;
}

#contact-info{
  margin-left: 20px;
}

#form-div{
  margin-top: 20px;
  background-color:  #e35833;
  border-color: black;
  border-style: double;
  border-width: thick;
}

/*SUBMITTED*/
#submitted-contact-info,#submitted-thanks{
  width: 45%;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;

}

#submitted-thanks h1{
  font-family: 'Architects Daughter', cursive!important;
  font-size: 20px;
}


/*MENU*/
.items h1 {
  font-family: 'Joti One', cursive!important;
}

.items h2 {
  font-family: 'Architects Daughter', cursive!important;
  color: #e35833;
}

.items p {
  font-family: sans-serif;
  font-size: 19px;
  font-weight: lighter;
}

.items main {
  float: right;
  width: 80%;
}

.items aside {
  float: left;
  width: 20%;
  margin-left: -40px;
}

.items #left{
  float: left;
  margin-right: 20px;
}

.items #right {
  float: left;
}

.sidebar li{
  list-style-type: none;
  padding: 20px 10px;
  text-align: center;
  border-color: black;
  border-style: solid;
  border-bottom-color: white;
}

.sidebar li:last-child{
  border-bottom-color: black;
}

.sidebar a{
  font-family: 'Joti One', cursive!important;
  text-decoration: none;
  color:black;
}
